/* .wishlist-button {
  display: inline-block;
  padding: 0.85em 1.5em;
  cursor: pointer;
  text-decoration: none;
}
.btnwishlisted{display:none}
.active .btnwishlisted{
    display: initial !important;
}
.active .notwishlisted{
    display: none !important;
}

.wishlist-button:active {
  background-color: #5c6ac4;
  box-shadow: 0 0.125em #666666;
  transform: translateY(0.25em);
} */
