<hr>
<div id="section-cta">
  {{ product.sku  }}
  <h3> {{ block.settings.text-box }} </h3>
  <a href="{{ block.settings.link }}" class="wishlist-button">{{ block.settings.linktext }}</a>
</div>
<hr>


{% schema %}
  {
    "name": "Add to wishlist button",
    "target": "section",
    "stylesheet": "wishlist-button.css",
    "javascript": "wishlist.js",
    "templates": ["product", "index"],
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "linktext",
        "type": "text",
        "label": "Button text",
        "default": "Click Here"
      }
    ]
  }
{% endschema %}
